In [ ]:
s="high there a class"

In [ ]:
m=s.split()

In [ ]:
print(m)

In [ ]:
s="Earth"
n=12742

In [ ]:
m="The diameter of {} is {} kilometers".format(s,n)

In [ ]:
print(m)

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
hello_word = lst[3][1][2]

In [ ]:
print(hello_word)

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
hello_word={1,'k1','tricky','target'}

In [ ]:
print(hello_word)

In [ ]:
def contains_dog(input_string):
    return 'dog' in input_string

In [ ]:
input_str = "I have a dog and a cat."

In [ ]:
result = contains_dog(input_str)

In [ ]:
print(result)

In [ ]:
input_string="I have too many DOG and cats"

In [ ]:
result=contains_dog(input_str)

In [ ]:
print(result)

In [ ]:
def count_dog_occurance(input_string):
    return "dog count" in input_str

In [ ]:
input_str="I have a dog count and a cat"

In [ ]:
result=count_dog_occurance(input_str)

In [ ]:
print(result)

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

In [ ]:
concatenate_list=[x+y for x in list1 for y in  list2]

In [ ]:
print(concatenate_list)

In [ ]:
seq = ['soup', 'dog', 'salad', 'cat', 'great']

filtered_words = list(filter(lambda x: x.startswith('s'), seq))

print(filtered_words)

In [2]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed -= 5
    if speed <= 60:
        return "No Challan"
    elif 61 <= speed <= 80:
        return "Small Challan"
    else:
        return "Heavy Challan"
result1 = caught_speeding(81, True)
result2 = caught_speeding(81, False)
print(result1)  
print(result2)

Small Challan
Heavy Challan

In [3]:
list1 = ["M", "na", "i", "She"]

In [4]:
list2 = ["y", "me", "s", "lly"]

In [5]:
result = [a + b for a, b in zip(list1, list2)]

In [6]:
print(result)

['My', 'name', 'is', 'Shelly']

In [7]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [8]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list1 = [item for item in list1 if item != 20]
print(list1)

[5, 15, 25, 50]

In [9]:
dl = {'a': 100, "b": 200, 'c': 300}
value_exists = 200 in dl.values()
print(value_exists)

True

In [10]:
n = 5
series_sum = sum(int('2' * i) for i in range(1, n + 1))
print(series_sum)

24690